<a href="https://colab.research.google.com/github/SaiAnirudh659/IMDB-Scraping/blob/main/Top%201000%20movies%20from%20IMDb%20Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
headers = {'Accept langugae': "en-US,en;q=0.5"}

In [3]:
movie_name=[]
year=[]
time=[]
rating=[]
metascore=[]
votes=[]
gross=[]

In [4]:
pages = np.arange(1,1000,100)

In [5]:
from IPython.utils import text
for page in pages:
  page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start="+str(page)+"&ref_=adv_nxt")
  soup = BeautifulSoup(page.text, 'html.parser')
  movie_data = soup.findAll('div', attrs = {'class': 'lister-item-content'})
  sleep (randint(2,8))
  for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)

    year_of_release = store.h3.find('span', class_ = "lister-item-year text-muted unbold").text
    year.append(year_of_release)

    runtime = store.p.find('span', class_ = "runtime").text
    time.append(runtime)

    rate = store.find('div', class_ = "inline-block ratings-imdb-rating").text.replace('\n', '')
    rating.append(rate)

    meta = store.find('span', class_ = "metascore  favorable").text if store.find('span', class_ = "metascore  favorable") else "^^^^^^"
    metascore.append(meta)

    value = store.find_all('span', attrs = {'name': "nv"})
    vote = value[0].text
    votes.append(vote)

    grosses = value[1].text if len(value)>1 else '^^^^'
    gross.append(grosses)

In [6]:
movie_list = pd.DataFrame({"Movie name":name,"Year of release":year,"runtime":time,"Movie Rating":rating,"Meta Score":metascore,"Votes":votes,"grosses":gross })

In [7]:
movie_list

,Movie name,Year of release,runtime,Movie Rating,Meta Score,Votes,grosses
0,Cell 211,(1994),142 min,9.3,^^^^^^,"2,782,163",$28.34M
1,Cell 211,(1972),175 min,9.2,^^^^^^,"1,937,119",$134.97M
2,Cell 211,(2008),152 min,9.0,^^^^^^,"2,760,338",$534.86M
3,Cell 211,(1993),195 min,9.0,^^^^^^,"1,400,021",$96.90M
4,Cell 211,(1957),96 min,9.0,^^^^^^,"825,944",$4.36M
...,...,...,...,...,...,...,...
995,Cell 211,(2004),133 min,7.6,^^^^^^,"75,044",$6.17M
996,Cell 211,(2013),98 min,7.6,^^^^^^,"102,389",$37.71M
997,Cell 211,(1996),105 min,7.6,^^^^^^,"55,620",$35.81M
998,Cell 211,(1933),71 min,7.6,^^^^^^,"37,861",^^^^
999,Cell 211,(2009),113 min,7.6,^^^^^^,"69,505",^^^^

In [8]:
movie_list.to_excel("1000 movies of IMDb.xlsx")